/* Set background color */
body {
  background-color: #f5f8fa;
}

/* Customize the navbar */
.navbar {
  background-color: #fff;
}

.navbar-burger {
  color: #1da1f2;
}

.navbar-burger span {
  background-color: #1da1f2;
}

.navbar-menu {
  background-color: #fff;
  border: none;
  box-shadow: 0px 1px 2px rgba(10, 10, 10, 0.1);
}

.navbar-item {
  color: #1da1f2;
  font-weight: bold;
  margin-right: 1em;
}

.navbar-item:hover {
  color: #14171a;
}

/* Customize the hero section */
.hero.is-primary {
  background-color: #1da1f2;
}

.hero-head {
  border-bottom: none;
}

/* Center the hero content */
.hero-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Customize the login form */
.field {
  margin-top: 1.5rem;
}

.is-large {
  font-size: 1.25rem;
}

.checkbox {
  font-size: 1rem;
  color: #657786;
  margin-top: 1rem;
}

.checkbox input[type="checkbox"] {
  margin-right: 0.5rem;
}

.button {
  background-color: #1da1f2;
  border: none;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1.5rem;
}

.button:hover {
  background-color: #0c8de4;
}
