/* Set the font and background color */
body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: #f5f8fa;
}

/* Set the color for links */
a {
  color: #1da1f2;
}

/* Set the color for headings */
h1, h2, h3, h4, h5, h6 {
  color: #14171a;
}

/* Set the width for the navbar and set its background color */
.navbar {
  width: 100%;
  background-color: #fff;
}

/* Set the color for the navbar links */
.navbar-nav .nav-item .nav-link {
  color: #1da1f2;
}

/* Set the font size and background color for the tweet box */
.new-tweet-row {
  font-size: 14px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
}

/* Set the color for the tweet text and username */
.tweet p {
  color: #14171a;
}

.tweet .username {
  color: #1da1f2;
}

/* Set the color for the buttons */
.btn {
  background-color: #1da1f2;
  color: #fff;
}

.dropdown img {
  padding-right: 5px;
}
/* Set the color for the form labels */
label {
  color: #1da1f2;
}

/* Set the font size and color for the form input fields */
input[type=text], input[type=email] {
  font-size: 14px;
  color: #14171a;
}

/* Set the color for the form submit button */
input[type=submit] {
  background-color: #1da1f2;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 10px 0;
}

/* Set the color for the form cancel and clear buttons */
#cancel_form, #clear_form {
  background-color: #fff;
  color: #1da1f2;
  border: 1px solid #1da1f2;
  padding: 5px 10px;
  margin: 10px;
}

/* Set the color for the form cancel and clear buttons when hovering */
#cancel_form:hover, #clear_form:hover {
  background-color: #1da1f2;
  color: #fff;
}

#blog1 {
  margin-bottom: 20px;
}

#interact {
  display: flex;
  justify-content: space-between;
  width: 100px; /* Adjust as needed */
  margin-left: auto;
  padding-left: -100px;
}

#interact span {
  padding: 4px;
  cursor: pointer;
}
