/* Set the font and background color */
body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: #f5f8fa;
}

/* Set the color for links */
a {
  color: #1da1f2;
}

/* Set the color for headings */
h1, h2, h3, h4, h5, h6 {
  color: #14171a;
}

/* Set the width for the navbar and set its background color */
.navbar {
  width: 100%;
  background-color: #fff;
}

/* Set the color for the navbar links */
.navbar-nav .nav-item .nav-link {
  color: #1da1f2;
}

/* Set the font size and background color for the tweet box */
.new-tweet-row {
  font-size: 14px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
}

/* Set the color for the tweet text and username */
.tweet p {
  color: #14171a;
}

.tweet .username {
  color: #1da1f2;
}

/* Set the color for the buttons */
.btn {
  background-color: #1da1f2;
  color: #fff;
}

.dropdown img {
  padding-right: 5px;
}
/* Set the color for the form labels */
label {
  color: #1da1f2;
}

/* Set the font size and color for the form input fields */
input[type=text], input[type=email] {
  font-size: 14px;
  color: #14171a;
}

/* Set the color for the form submit button */
input[type=submit] {
  background-color: #1da1f2;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 10px 0;
}

/* Set the color for the form cancel and clear buttons */
#cancel_form, #clear_form {
  background-color: #fff;
  color: #1da1f2;
  border: 1px solid #1da1f2;
  padding: 5px 10px;
  margin: 10px;
}

/* Set the color for the form cancel and clear buttons when hovering */
#cancel_form:hover, #clear_form:hover {
  background-color: #1da1f2;
  color: #fff;
}

#blog1 {
  margin-bottom: 20px;
}

#interact span {
  padding: 4px;
  cursor: pointer;
}

#blog1 {
  max-width: 600px;
  margin: 0 auto;
}

.tweet {
  border-bottom: 1px solid #e1e8ed;
  padding: 10px;
}

.tweet-info {
  margin-bottom: 5px;
}

.tweet-username {
  font-weight: bold;
  margin-right: 5px;
}

.tweet-usertag {
  font-size: 14px;
}

.tweet-date-created {
  font-size: 14px;
}

.tweet-date-updated {
  font-size: 14px;
  color: #8899a6;
}

.tweet-text {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tweet-media {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tweet-arrow {
  font-size: 24px;
  margin-top: 5px;
}

.btn-group {
  margin-left: 10px;
  margin-right: 10px;
}

.btn-group .oi {
  font-size: 16px;
  margin-right: 5px;
  cursor: pointer;
}

/* Align the interact and edit/report buttons */
#interact,
#edit {
  display: flex;
  align-items: center;
}

#interact span,
#edit span {
  margin-right: 10px;
}

#interact span:hover {
  color: #e440a5;
}

#edit a {
  margin-right: 10px;
}

/* Style the edit/report button */
#edit a {
  color: #6c757d;
  font-weight: bold;
  text-decoration: none;
}

#edit a:hover {
  color: #dc3545;
}

#edit a i {
  margin-left: 10px;
  /* padding-left: 130px; */
}

#edit {
  margin-left: auto;
}
