body {
    background-color: #15202b;
    color: #fff;
    font-family: 'Kanit', Arial, Helvetica, sans-serif;
}

nav {
    background-color: #ffffff;
    border-bottom: 1px solid #adb1b4;
    margin-bottom: 10px;
}

img.tw-user-small {
    height: 40px;
}
 
img.tw-user-medium {
    height: 50px;
}

.navbar {
  background-color: #192734;
}

.navbar a {
  color: #fff;
}

.navbar-nav .nav-link {
  color: white;
}

.navbar .form-inline input {
  background-color: #333;
  border-color: #333;
  color: #fff;
}

.btn-primary {
  background-color: #1DA1F2 !important;
  border-color: #1DA1F2 !important;
}

.btn-primary:hover {
  background-color: #0B6FA4 !important;
  border-color: #0B6FA4 !important;
}
 
#nav-search {
    border-radius: 20px;
    background-color: #30404d;
    color: #fff;
}
 
#nav-tweet-btn {
    border-radius: 20px;
    background-color: #1da1f2;
    color: #fff;
}

#nav-tweet-btn:hover {
  background-color: #1381c6;
}

.content-box {
    background-color: #253341;
    color: #fff;
    margin-bottom: 0px;
}

#add-edit {
  background-color: #30404d;
}

#blog1 {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #1da1f2;
  border-radius: 5px;
}

#clear_form, #cancel_form {
  background-color: #1da1f2;
  color: #fff;
  border: none;
  margin-left: 10px;
  padding: 5px;
}

#clear_form:hover, #cancel_form:hover {
  background-color: #1381c6;
}

.new-tweet-row {
    background-color: #eaf5fe;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tweet {
    background-color: #1b2836;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #edf1f4;
}
 
.tweet-username {
    font-weight: bold;
}
 
.tweet-arrow {
    padding-right: 25px;
}
 
.tweet-text,
.tweet-media {
    padding-right: 10px;
}

.text-muted #interact span {
    padding-left: 15px;
    margin-right: 20px;    
}

.text-muted #edit span {
    margin-left: 35px;
    margin-right: 15px;
    padding-left: 125px;
}

input[type=text], input[type=message], select, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 2px;
    margin-bottom: 0px;
    resize: vertical;
}
